:root {
    --primary-color: #38bdf8; /* Bleu ciel */
    --secondary-color: #0ea5e9; /* Bleu plus foncé */
    --background-color: #1e293b; /* Bleu très foncé */
    --text-color: #ffffff; /* Blanc */
    --hover-color: #0284c7; /* Bleu hover */
  }