/* Navbar.css */
.navbar {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--hover-color);
}

.nav-links {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Cache les liens sur les petits écrans */
    }

    .menu-burger {
        display: block;
        cursor: pointer;
    }
}

.menu-burger {
    display: none; /* Cache le menu burger sur les grands écrans */
}